body {
background-color:#BDBDBD;
font-family: "Helvetica", "Arial", sans-serif;
}
#intro, #favorite-movies {
  font-size: 1.3em;
}
.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #e7e7e7;
  background-color: #008080;

}
.navBar li {
  float: left;
  border-right: 1px solid #bbb;

}
.navBar a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.navBar li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}

#intro{
padding-top: 30px;

}