* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
background-color:#f8f8ff;
font-family: "Helvetica", "Arial", sans-serif;
padding-bottom: 20px;
}
.intro-container,
.movies-container {
  font-size: 1.3em;
}
.navbar-container {
background-color: #008080;
display: flex;
padding: 14px 0;

}
.navbar-container a:hover {
  background-color: #111;
}
.navbar {
display:flex;

}
.navbar-item{
  text-align: center;
  text-decoration: none;

}
.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 15px;
}
.intro-container {
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro-item {
padding: 10px;
}
.movies {
padding-left: 40px;
padding-top: 30px;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

}